<body class="login">

	<div id="loading_indicator" style="margin-top:-125px; position:absolute; top:50%; text-align:center; width:100%;">
		<img src="/assets/img/loading_2.gif" />		
	</div>




<% if(false){ %>
  <!-- BEGIN LOGO -->
  <div class="logo">
    <img src="/assets/img/cobarloginlogowhite.png" alt="" /> 
  </div>
  
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="form-vertical login-form" action="index.html">
      <h3 class="form-title">Login to your account</h3>
      <div class="control-group">
        <div class="controls">
          <div class="input-icon left">
            <i class="icon-user"></i>
            <input class="m-wrap" type="text" placeholder="Username" />
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <div class="input-icon left">
            <i class="icon-lock"></i>
            <input class="m-wrap" type="password" style="" placeholder="Password" />
          </div>
        </div>
      </div>
      <div class="form-actions">
        
         <label class="checkbox">Remember me</label></br>
         <div style="float:left;" class="basic-toggle-button">
            <input type="checkbox" class="toggle" name="remember_me" />
         </div>
        
        <a href="index.html" id="login-btn" class="btn green pull-right">Login <i class="m-icon-swapright m-icon-white"></i></a>
        
      </div>
      <div class="forget-password">
        <h4>Forgot your password?</h4>
        <p>
          no worries, click <a href="javascript:;" class="" id="forget-password">here</a>
          to reset your password.
        </p>
      </div>
    </form>
    <!-- END LOGIN FORM -->        
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="form-vertical forget-form" action="index.html">
      <h3 class="">Forget Password?</h3>
      <p>Enter your e-mail address below to reset your password.</p>
      <div class="control-group">
        <div class="controls">
          <div class="input-icon left">
            <i class="icon-envelope"></i>
            <input class="m-wrap" type="text" placeholder="Email" />
          </div>
        </div>
      </div>
      <div class="form-actions">
        <a href="javascript:;" id="back-btn" class="btn">
        <i class="m-icon-swapleft"></i>  Back
        </a>
        <a href="javascript:;" id="forget-btn" class="btn green pull-right">
        Submit <i class="m-icon-swapright m-icon-white"></i>
        </a>            
      </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->
  </div>
  <!-- END LOGIN -->
  <!-- BEGIN COPYRIGHT -->
  <div class="copyright">
    2013 &copy; Cobar Systems LLC
  </div>
  <!-- END COPYRIGHT -->
  <!-- BEGIN JAVASCRIPTS -->
  <script src="/socket.io/socket.io.js"></script>

  <script src="assets/js/jquery-1.8.3.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  
  <script src="assets/uniform/jquery.uniform.min.js"></script>
  <script src="assets/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js"></script>
  <script src="assets/js/app.js"></script>



  <script src="assets/js/jquery.blockui.js"></script>
  <script>
    jQuery(document).ready(function() {
   	  App.initLogin();
   	  $('.basic-toggle-button').toggleButtons();
    });
  </script>
  <script>
	  window.socket = io.connect();
	
	  // Emit ready event.
	  window.socket.emit('ready', 'We are ready', function(data){	  	
	  	alert('server response: ' + data);	  	
	  });
	
	  // Listen for session event.
	  window.socket.on('foo', function(data) {	  
	  //	alert(data);
	  });
  </script>
  <!-- END JAVASCRIPTS -->

<% } %>  




<script src="assets/js/jquery-1.8.3.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  window.socket = io.connect();

  // Emit ready event.
  window.socket.emit('ready', 'We are ready', function(data){	  	
  	console.log(data);
  });

  // Listen for session event.
  window.socket.on('foo', function(data) {	  
  //	alert(data);
  });
</script>






<% if(false){ %>

	<script type="text/javascript" data-main="/client" src="/assets/requirejs/require.js"></script>

<% }else{ %>
	
	<script type="text/javascript" src="/build.js"></script>
	
<% } %>





</body>
<!-- END BODY -->